body{
  margin: 0;
}
/* #f7f8fc */
.ant-menu-title-content a::active{
  background-color: #f7f8fc;
}
.btn-primary{
  background-color: #8c57ff !important; 
  border-color: #8c57ff !important;
}
.ant-drawer-body{
  background-color: #f7f8fc !important;
  padding: 8px !important;
  .category-content{
    border-radius: 4px;
  }
}

.ant-space-item a{
  color: white;
  text-decoration: none;
}

.card{
  box-shadow: none !important;
}


.title-tag{
  border-radius: 4px;
  background-color: #8c57ff;
  color: white;
  padding: 2px 6px;
  font-size: 11px;
}

.thumnail-image{
  width: 60px;
  border-radius: 4px;
}

.meduim-thumnail-image{
  width: 200px;
  border-radius: 4px;
}

.demo-logo{
  img{
    width: 80px;
  }
}

.dropdown-item{
  line-height: 25px;
}

.dropdown-toggle::after{
  color: white;
}

.ant-layout-header{
  background-color: #8c57ff !important; 
}